.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

/*.hiddene {
    background: rgba(0, 0, 0, 0);
    width: 0%;
    height: 0%;
}*/

.modal-wrapper {
    background-color: white;
    width: 600px;
    padding: 20px;
    max-width: calc(100vw -20px);
    max-height: calc(100vh -20px);
    border-radius: 20px;
    z-index: 2;
}

.titre {
    font-size: 26px;
    text-align: center;
    margin-bottom: 40px;
}

.logos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
}

.logo {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.modalGallery {
    width: 600px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    justify-content: center;
}

.modalGallery .gal {
    width: 76px;
    margin: 10px;
}

.fig {
    margin-left: 10px;
    margin-top: -10px;
    cursor: pointer;
}

.galLogo{
    position: absolute;
    z-index: 3;
    top: 13px;
    right: 18px;
    width: 10px;
    height: 12px;
    background-color: black;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.crossedArrow {
    left: 42px;
}

.figureModal {
    position: relative;
}

.figEdit {
    position: relative;
    left: -10px;
}

.line {
    grid-column-start: 1;
    grid-column-end: 6;
    width: 420px;
    margin-left: 90px;
    border-bottom: 1px solid black;
    margin-top: 50px;
}

.modalButton {
    margin-top: 40px;
    margin-left: 180px;
    padding-left: 49px;
    padding-right: 49px;
    color: white;
	background-color: #1D6154;
	border-radius: 60px ;
	cursor: pointer;
    
}

.bluePicture {
    width: 420px;
    height: 169px;
    background-color:#E8F1F6;
    margin: auto;
    margin-top: 50px;
    position: relative;
    margin-bottom: 30px;
}

.logoPicture {
    position: absolute;
    width: 76px;
    height: 76px;
    left: 172px;
    top : 16px;
}

.buttonPictureAdd {
    color: #306685;
    
    background-color: #CBD6DC;
    border-radius: 20px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    cursor: pointer;
    font-size: 14px;
    
}

.divForInput {
    position: absolute;
    top: 100px;
    left: 9px;
}

.buttonPictureAddHidden {
    visibility:hidden
}

.pictureText {
    color: #444;
    font-size: 10px;
    margin-top: 4px;
    position: absolute;
    top: 135px;
    left: 160px;
}

.arrowLeft {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.pictureTextBottom {
    font-size: 14px;
    text-align: left;
    padding-left: 90px;
    margin-top: 20px;
    
}

.inputText {
    width: 420px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-top: 20px;
    background-color: white;
}

.option {
    color: black;
}

.pictureButton {
    margin-top: 40px;
    margin-left: 160px;
    padding-left: 120px;
    padding-right: 120px;
    color: white;
	background-color: #1D6154;
	border-radius: 60px ;
	cursor: pointer;
    margin-bottom: 60px;
}

.inactive {
    background-color: #A7A7A7;
}

.userPicture {
    
    max-height: 169px;
    top: -50px;
    max-width: 420px;
    background-color:#E8F1F6;
    margin: auto;
    margin-top: 50px;
    position: relative;
    margin-bottom: 30px;
}